body {
    font-family:"Roboto", sans-serif ;
    color:#434455;
    background-color:#FFFFFF;
  } 


    ul {
        list-style-type: none;
    }

    a {
        text-decoration: none;
    }

 .header {
background: #fff;
 }
/* ------------header------------- * */
 .header-nav {}

 .header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.16667;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        line-height: 1.17;
 }

 .header-logo-accent {
    
    color: #2e2f42;
 }

 .header-menu-list {}

 .header-menu-item {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
 }

 .header-menu-link:hover,
 .header-menu-link:focus
  {color: #4d5ae5; }

 .header-contacts-link:hover,
 .header-contacts-link:focus
 {color: #4d5ae5;}

 .header-contacts-item {
    
 }

 .header-contacts-link {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
 }

 /* ----------main-solutions---------- */

 .main-solutions {
    background: #2e2f42;
 }

 .main-solutions-title {
    font-weight: 700;
        font-size: 56px;
        line-height: 1.07143;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
 }

 .btn {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        background: #4d5ae5;
     }

    .btn:hover,
    .btn:focus {
background-color: #404bbf;
         }
/* -------------------------------------------- */

/* --------------------hearo------------------------ */
.hearo {}

.hero-title {}

.hero-list {}

.hero-list-item {}

.hero-item-title {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.hero-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
      /* -------------------------------------------- */
     
          /* -----------------------team--------------------- */

.team {
    background: #f4f4fd;
}

.team-title {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11111;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}

.team-item {}

.team-img {}

.team-name {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}

.team-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}
/* -------------------------------------------- */


/* --------------------our portfolio------------------------ */
.port {
    background: #fff;
}

.port-title {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11111;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}

.port-item {

}

.port-item-title {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.port-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
/* -------------------------------------------- */

/* ----------------------footer---------------------- */

.footer {
    background: #2e2f42;
}

.footer-logo {
font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.footer-logo-accent {
font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.footer-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}